@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* General Styles */
p {
  font-family: 'Montserrat';
  font-size: 12px;
}

.centered-main {
  display: grid;
  justify-content: center;
  -ms-transform: translateY(5%);
  transform: translateY(5%);
}

.width {
  text-align: left;
  max-width: 600px;
}

.expertise-list {
  text-align: left;
}

#resume {
  text-align: center;
  text-decoration: none;
}

#tagcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}


/* Main Image Style */
#mainimage {
  justify-content: center;
  height: 250px;
  max-width: 600px;
}

/* Portfolio Links */
.imgthumb {
  height: 40px;
  width: 40px;
  margin: 0px 15px;
}

.imgrow {
  display: flex;
  justify-content: center;
}

/* Text Styles */
#matthewrobinson {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 2.5rem;
    color: #080305;
    font-weight: bold;
    letter-spacing: 3px;
  }

#tag {
  font-family: 'Montserrat';
  text-align: center;
  color: white;
  background: #080305;
  font-weight: bold;
  width: 300px;
}


/* Expertise Column Styles */
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 100%;
}

.column {
  flex: 30%;
  text-align: center;
  margin: 0px 3px;
}