@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* Universal Styles */
html, body {
  font-family: 'Montserrat';
  font-size: 14px;
  background-color: whitesmoke;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-family: 'Montserrat';
  color:black;
  font-size: 1rem;
  text-align: center;
}

a {
  font-family: 'Montserrat';
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;  
}
  


/* Main Divs */
#div1 { 
  display: flex;
  align-content: space-around;
  background-color: white; 
  border-top: solid white 2px;
  border-left: solid white 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#div2 { 
  display: grid;
  max-height: 550px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#div3 { 
  background-color: white;
  border-top: solid white 2px;  
  padding: 25px;
  min-height: 550px;
  max-height: 550px;
  box-shadow: 
  1.6px 0.9px 0.5px -10px rgba(0, 0, 0, 0.038),
  3.6px 2px 1.2px -10px rgba(0, 0, 0, 0.047),
  6.1px 3.3px 2.1px -10px rgba(0, 0, 0, 0.051),
  9.3px 5.1px 3.2px -10px rgba(0, 0, 0, 0.053),
  13.8px 7.6px 4.7px -10px rgba(0, 0, 0, 0.054),
  20.3px 11.2px 6.9px -10px rgba(0, 0, 0, 0.055),
  30.5px 16.7px 10.4px -10px rgba(0, 0, 0, 0.056),
  48.6px 26.7px 16.5px -10px rgba(0, 0, 0, 0.058),
  91px 50px 31px -10px rgba(0, 0, 0, 0.07);
}

/* Navigation */
.navcolumns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.navcolumn {
  display: flex;
  flex: 25%;
  align-items: center;
  justify-content: center;
}

#nav-image {
  height: 50px;
  width: 50px;
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  transition: transform 1s;
}
#nav-image:hover {
  transform: scale(1.1);
  background-color: white;
}

.nav-link {
  font-family: 'Montserrat';
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 100px;   
}

.nav-link:hover {
  border: 5px;
  color: black;
}

/* Header */
h1 {
  font-family: 'Montserrat';
  text-align: center;
  color: whitesmoke;
  }

h2 {
  font-family: 'Montserrat';
  text-align: left;
  margin-left: 50px;
  color: black;
  padding: 3px 15px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

h3 {
  font-family: 'Montserrat';
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

h4 {
  font-family: 'Montserrat';
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}

  /* General Styles */
p {
  font-family: 'Montserrat';
  font-size: 12px;
}

.centered-main {
  display: grid;
  justify-content: center;
  justify-items: center;
  -ms-transform: translateY(5%);
  transform: translateY(5%);
}

.width {
  text-align: left;
  max-width: 600px;
}

.expertise-list {
  text-align: left;
}

#resume {
  text-align: center;
  text-decoration: none;
}

#tagcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}


/* Main Image Style */
#mainimage {
  justify-content: center;
  height: 250px;
  max-width: 600px;
}

/* Portfolio Links */
.imgthumb {
  height: 40px;
  width: 40px;
  margin: 0px 15px;
}

.imgrow {
  display: flex;
  justify-content: center;
}

/* Text Styles */
#matthewrobinson {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 2.5rem;
  color: #080305;
  font-weight: bold;
  letter-spacing: 3px;
}

#tag {
  font-family: 'Montserrat';
  text-align: center;
  color: white;
  background: #080305;
  font-weight: bold;
  width: 300px;
}

 /* Expertise Column Styles */
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 30%;
  text-align: center;
  margin: 0px 3px;
}


/* Responsiveness */
  @media only screen and (max-width: 1200px)
 {
  .navcolumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .navcolumn {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
  }

  #div1 { 
    display: flex;
    min-width: 300px;
    align-content: space-around;
    background-color: white; 
    border-top: solid white 2px;
    border-left: solid white 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  #div2 { 
    display: grid;
    min-width: 300px;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  
  #div3 { 
    background-color: white;
    border-top: solid white 2px;  
    padding: 25px;
    min-height: 600px;
    max-height: 400px;
    box-shadow: 0px;
  }
}

 @media only screen and (max-width: 600px) {
  .vertical-center {
    margin: auto;
    position: relative;
    top: 0%;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  #div1 { 
    display: flex;
    align-content: space-around;
    background-color: white; 
    border-top: solid white 2px;
    border-left: solid white 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  #div2 { 
    min-width: 300px;
    box-shadow: 0px;
    margin-right: 0px;
  }

  #div3 { 
    background-color: white;
    border-top: solid white 2px;  
    padding: 25px;
    max-height: 500px;

    box-shadow: 0px;
    margin: 0px;
  }

  .navcolumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .navcolumn {
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: center;
  }

  #mainimage {
    justify-content: center;
    height: 250px;
    width: 90%;
    height: 90%;
  }
}