/* Universal Styles */
html, body {
  font-family: Helvetica;
  font-size: 14px;
  background-color: whitesmoke;
  height: 100%;
  }

  
/* Main */
.vertical-center {
  margin: auto;
  position: relative;
  top: 0%;
  -ms-transform: translateY(5%);
  transform: translateY(5%);
}


/* Main Divs */
#div1 { 
  display: flex;
  align-content: space-around;
  background-color: white; 
  border-top: solid white 2px;
  border-left: solid white 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow:
  1.6px 0.9px 0.5px -10px rgba(0, 0, 0, 0.038),
  3.6px 2px 1.2px -10px rgba(0, 0, 0, 0.047),
  6.1px 3.3px 2.1px -10px rgba(0, 0, 0, 0.051),
  9.3px 5.1px 3.2px -10px rgba(0, 0, 0, 0.053),
  13.8px 7.6px 4.7px -10px rgba(0, 0, 0, 0.054),
  20.3px 11.2px 6.9px -10px rgba(0, 0, 0, 0.055),
  30.5px 16.7px 10.4px -10px rgba(0, 0, 0, 0.056),
  48.6px 26.7px 16.5px -10px rgba(0, 0, 0, 0.058),
  91px 50px 31px -10px rgba(0, 0, 0, 0.07)
;
}

#div2 { 
  display: grid;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow:
  1.6px 0.9px 0.5px -10px rgba(0, 0, 0, 0.038),
  3.6px 2px 1.2px -10px rgba(0, 0, 0, 0.047),
  6.1px 3.3px 2.1px -10px rgba(0, 0, 0, 0.051),
  9.3px 5.1px 3.2px -10px rgba(0, 0, 0, 0.053),
  13.8px 7.6px 4.7px -10px rgba(0, 0, 0, 0.054),
  20.3px 11.2px 6.9px -10px rgba(0, 0, 0, 0.055),
  30.5px 16.7px 10.4px -10px rgba(0, 0, 0, 0.056),
  48.6px 26.7px 16.5px -10px rgba(0, 0, 0, 0.058),
  91px 50px 31px -10px rgba(0, 0, 0, 0.07)
;
}


#div3 { 
  background-color: white;
  border-top: solid white 2px;  
  padding: 25px;
  min-height: 600px;
  max-height: 400px;
  box-shadow:
  1.6px 0.9px 0.5px -10px rgba(0, 0, 0, 0.038),
  3.6px 2px 1.2px -10px rgba(0, 0, 0, 0.047),
  6.1px 3.3px 2.1px -10px rgba(0, 0, 0, 0.051),
  9.3px 5.1px 3.2px -10px rgba(0, 0, 0, 0.053),
  13.8px 7.6px 4.7px -10px rgba(0, 0, 0, 0.054),
  20.3px 11.2px 6.9px -10px rgba(0, 0, 0, 0.055),
  30.5px 16.7px 10.4px -10px rgba(0, 0, 0, 0.056),
  48.6px 26.7px 16.5px -10px rgba(0, 0, 0, 0.058),
  91px 50px 31px -10px rgba(0, 0, 0, 0.07)
;
}


/* Navigation */
.navcolumns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.navcolumn {
  display: flex;
  flex: 25%;
  align-items: center;
  justify-content: center;
}

#nav-image {
 height: 50px;
 width: 50px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding: 5px;
 transition: transform 1s;
}
#nav-image:hover {
 transform: scale(1.1);
}

.nav-link {
    font-family: Helvetica;
    text-align: center;
    background-color: #00c853;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 100px;   
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: white;
}

 /* Content Styles */
p {
    font-family: Helvetica;
    color:black;
    font-size: 1rem;
    text-align: center;
}

/* Header */
h1 {
    font-family: Helvetica;
    text-align: center;
    color: whitesmoke;
  }

h2 {
    font-family: Helvetica;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }

h3 {
    font-family: Helvetica;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
  }

h4 {
    font-family: Helvetica;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
  }

  /* Responsiveness */
  @media only screen and (max-width: 700px)
 {
  .navcolumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .navcolumn {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
  }

  #div2 { 
    display: grid;
    min-width: 300px;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow:
    1.6px 0.9px 0.5px -10px rgba(0, 0, 0, 0.038),
    3.6px 2px 1.2px -10px rgba(0, 0, 0, 0.047),
    6.1px 3.3px 2.1px -10px rgba(0, 0, 0, 0.051),
    9.3px 5.1px 3.2px -10px rgba(0, 0, 0, 0.053),
    13.8px 7.6px 4.7px -10px rgba(0, 0, 0, 0.054),
    20.3px 11.2px 6.9px -10px rgba(0, 0, 0, 0.055),
    30.5px 16.7px 10.4px -10px rgba(0, 0, 0, 0.056),
    48.6px 26.7px 16.5px -10px rgba(0, 0, 0, 0.058),
    91px 50px 31px -10px rgba(0, 0, 0, 0.07)
  ;
  }
  
  #div3 { 
    background-color: white;
    border-top: solid white 2px;  
    padding: 25px;
    min-height: 600px;
    max-height: 400px;
    box-shadow:
    1.6px 0.9px 0.5px -10px rgba(0, 0, 0, 0.038),
    3.6px 2px 1.2px -10px rgba(0, 0, 0, 0.047),
    6.1px 3.3px 2.1px -10px rgba(0, 0, 0, 0.051),
    9.3px 5.1px 3.2px -10px rgba(0, 0, 0, 0.053),
    13.8px 7.6px 4.7px -10px rgba(0, 0, 0, 0.054),
    20.3px 11.2px 6.9px -10px rgba(0, 0, 0, 0.055),
    30.5px 16.7px 10.4px -10px rgba(0, 0, 0, 0.056),
    48.6px 26.7px 16.5px -10px rgba(0, 0, 0, 0.058),
    91px 50px 31px -10px rgba(0, 0, 0, 0.07)
  ;
  }
 }

 @media only screen and (max-width: 600px) {
  .vertical-center {
    margin: auto;
    position: relative;
    top: 0%;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  }

  #div2 { 
    min-width: 600px;
  }

  .navcolumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .navcolumn {
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: center;
  }
 }